@import "_variables";
@import "_mixins.scss";
@import "_reset.scss";
h2 {
  color: $bg;
}

.box {
  margin-top: 20px;
  h2 {
    color: blue;
  }
  button {
    color: red;
  }
  &:hover {
    background-color: green;
  }
}
